doctype html
html
  head
    title= title
    link(href='http://fonts.useso.com/css?family=PT+Mono',rel='stylesheet',type='text/css')
    link(rel='stylesheet', href='/stylesheets/style2.css')
    //link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    //link(rel='stylesheet', href='/stylesheets/bootstrap-theme.min.css')
    //link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
      //change according to this .css file
    //link(rel='stylesheet', href='/stylesheets/templatemo_style.css')

    //for new one
    link(rel="stylesheet", href="/stylesheets/themify-icons.css")
    link(rel="stylesheet", href="/stylesheets/icomoon-icons.css")

    link(rel="stylesheet", href="/stylesheets/bootstrap.css")
    link(rel="stylesheet", href="/stylesheets/owl.carousel.min.css")
    link(rel="stylesheet", href="/stylesheets/owl.theme.default.min.css")
    link(rel="stylesheet", href="/stylesheets/magnific-popup.css")
    link(rel="stylesheet", href="/stylesheets/easy-responsive-tabs.css")

    link(rel='stylesheet', href='/stylesheets/style2.css')
    script(src="/javascripts/jquery.js")
    script(src="/javascripts/bootstrap.js")
  body
    header#fh5co-header(role="banner")
      .container
        #fh5co-logo
          a(href="index.html")
            img(src="images/logo.png",alt="Work Logo")
        a(href="#").js-fh5co-nav-toggle.fh5co-nav-toggle
          i
        #fh5co-main-nav
          nav#fh5co-nav(role="navigation")
            ul
              li.fh5co-active
                a(href="index.html") Home
              li
                a(href="inside-page.html") Inside Page
              li
                a(href="elements.html") Elements
            a(href="/login").fh5co-nav-call-to-action.js-fh5co-nav-call-to-action Log in



    block content


